<!-- Content Heading -->
<% if (title) { %>
<h1 class="accountEditor"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message -->
<%- messages() %>


<div class="accountManagement">
  <h2>Welcome <%= firstName %>!</h2>

  <h3>Basic Account Information</h3>
  <a href="/account/update/details">Update Details</a>

  <h3>Password Management</h3>
  <p><a href="/account/update/password">Change Password</a></p>
</div>

