<header id="top-header">
    <div id="tools">
        <% if (loggedin == 1) { %>
            <a title="Click to Manage Account" href="/account">Welcome, <%= name %>!</a>
            <a title="Click to Log Out" href="/account/logout">Logout</a>
        <% } else { %>
            <a title="Click to Log In" href="/account/login">Log In!</a>
        <% } %>
    </div>
    <span class="siteName">
        <a href="/" title="Return to Home Page">CSE Motors</a>
    </span>
</header>