@media screen and (max-width: 1000px) {
    html{
        background-image: none;
    }

    body{
        border: none;
        width: 100%;
    }

    nav ul li a{
        padding: 10px;
    }

    .hero-box{
        top: 25%;
        left: 0%;
        font-size: 2.5vw;
    }

    .hero-box button{
        font-size: 2vw;
    }
    #inv-display li h2{
        font-size: medium;
      }
}
@media screen and (max-width: 600px){
    .grid-container{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .upgrades-internal{
        gap: 10px;
    }

    .upgrades{
        grid-row: 2;
    }
    .reviews{
        grid-row: 1;
    }

    #inv-display{
        display: block;
        text-decoration: none;
        justify-content: center;
    }
    
    #inv-display li{
        list-style-type: none;
        border: 1px solid black;
        text-align: center;
        padding: 20px;
      }

    #inv-display li a img{
        width: 50%;
        height: 50%;
      }
}