<!-- Content Heading -->
<% if (title) { %>
<h1 class="management"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message -->
<div id="messages"><%- messages %></div>

<div class="menu">
    <h2>Add Classification</h2>
  <a href="/inv/admin/add-classification"
    ><button id="addClassificationButton">Add Classification</button></a
  >
  <h2>Remove Classification</h2>
  <a href="/inv/admin/remove-classification"
    ><button id="removeClassificationButton">Remove Classification</button></a
  >
  <h2>Add Inventory</h2>
  <a href="/inv/admin/add-inventory"
    ><button id="addInventoryButton">Add Inventory</button></a
  >
  <h2>Manage Inventory</h2>
  <a href="/inv/admin/manageInventory"
  ><button id="manageInventoryButton">Manage Inventory</button></a
>